@model IPagedList<AutoShop.Models.EntityDB.AutoDeo>

@using PagedList.Mvc;
@using PagedList;


<div class="row row-cols-1 row-cols-md-3" id="scroll" style="margin-top: 10px; height:800px;">
    @foreach (var item in Model)
    {
        using (Html.BeginForm("Redirect", "Pocetna", new { ID = item.ID }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    <div class="col mb-4">

        @{ string marka = item.Proizvodjac.ToLower() + ".jpg";}
        @{ string cart = "cart" + item.ID.ToString();}
        @{ string magacin = "market" + item.ID.ToString();}
        @{ string delete = "delete" + item.ID.ToString();}
        @{ string edit = "edit" + item.ID.ToString();}
        

        <div class="card">
            <img src="/images/@marka" class="card-img-top" alt="..." style="height: 100px; width: auto;">
            <div class="card-body">
                <h5 class="card-title" asp-for>Proizvodjac:@item.Proizvodjac</h5>
                <h3 class="card-title">@item.Naziv </h3>
                <p class="card-text" style="color:red;">Cena:@item.JedCena</p>
                @if (@item.Kolicina == 0)
                {<p class="card-text">Na stanju:Nema</p>}
                else
                { <p class="card-text">Na stanju:@item.Kolicina</p>}
                Kolicina: <input type="number" id="@item.ID" name="@item.ID" value="@item.quantity" min="1" max="99">
                <input type="text" id="id" name="id" value="@item.ID" style="visibility:hidden;">
                <p class="card-text">Sifra #@item.ID</p>
            </div>
            <div class="text-center" style="margin-bottom:10px;">
                <button type="submit" class="btn btn-primary" name="button" id="@cart" value="cart" style="width:170px;">Dodaj u korpu</button>
            </div>

            <div class="text-center" >

                <button type="submit" class="btn btn-warning" name="button" id="@magacin" value="magacin" onclick="return confirm('Da li ste sigurni da zelite da dodate proizvod u magacin?')" style="width:170px;margin-bottom:10px;">Dodaj u magacin</button>
                <button type="submit" class="btn btn-info" name="button" id="@edit" value="edit" onclick="return confirm('Da li ste sigurni da zelite da izmenite izabrani proizvod?')" style="width:170px;margin-bottom:10px;">Izmeni</button>

                @if (@item.Kolicina == 0)
                {
                    <button type="submit" class="btn btn-danger" name="button" value="delete" id="@delete" onclick="return confirm('Da li ste sigurni da zelite da obrisete proizvod iz sistema?')" style="width:170px;margin-bottom:10px;">Obrisi</button>
                }
                else
                { <button type="submit" class="btn btn-danger" name="button" value="delete" id="@delete" onclick="return confirm('Da li ste sigurni da zelite da obrisete proizvod iz magacina?')" style="width:170px;margin-bottom:10px;">Obrisi</button>
                }
            </div>

        </div>

    </div>
                        }


                    }
</div>

@Html.PagedListPager(Model, i => Url.Action("Index", "Pocetna", new { i }))


<style media="screen">
    #scroll {
        background-color: #343a40;
        width: auto;
        margin: 0px;
        padding-top: 20px;
        height: 660px;
        overflow: auto;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



